@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<StudentPortal.web.Models.Entities.Teacher>
<div style="display:flex; justify-content:space-between ; align-items:center">
    <h1>Teachers</h1>
    <div style="height:10px; display:flex; align-items:center; justify-content:center">
        <a asp-controller="Teachers" asp-action="Add" class="btn btn-outline-primary">   +   </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>

            <th></th>



        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.Id</td>
                <td>@teacher.Name</td>
                <td>@teacher.Email</td>
                <td>@teacher.Subject</td>

                <td>
                    <a asp-controller="Teachers" asp-action="Edit" asp-route-id="@teacher.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>